<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credit page</title>
    <style>
        div{
            text-align: center;

            color: white;
            width: fit-content;
            overflow: hidden;
            margin: 40 50 80 450px;
            padding: 10%;
            background-color: rgb(13, 201, 207);
            border-radius: 20vh;
            
        }
        h1{
            text-align: center;
            color: white;
        }
    </style>
</head>
<body bgcolor="teal">
    <h1>Credit</h1>
    <div>
        <form action="credit" method="post">
            <label for="accountNumber">Account Number:</label>
            <input type="text" name="accountNumber" id="accountNumber" placeholder="Enter account number"><br><br>

            <label for="amount">Amount:</label>
            <input type="number" name="amount" id="amount" placeholder="Enter the amount">

            <input type="submit" value="submit"><br><br>
        
        </form>
    </div>
</body>
</html>