<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: teal;
            font-family: Arial, Helvetica, sans-serif;
        }
        #logindiv{
            background-color: 0,72,83;
            color:white;
            width: 400px;
            overflow: hidden;
            margin: 20 0 0 450px;
            padding: 80px;
            background-color: rgb(13, 201, 207);
            border-radius: 20px;
        
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="logindiv">
        <h2>Login page</h2>
        <form action="" method="post">
            <label for="accountnumber">Account Number</label>
            <input type="text" id="accountnumber" name="acountnumber" placeholder="Enter your account number"><br><br>
            <label for="Password">Password</label>
            <input type="password" id="loginpassword" name="loginPassword" placeholder="Enter password"><br>
            <a href="#">forgotpassword</a>
        </form>
    </div>
    
</body>
</html>