<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    var resetForm = function () {
        document.getElementById("searchTable").style.visibility = "hidden";
    }
    var showTable = function () {

        document.getElementById("searchTable").style.visibility = "visible";
        Object.freeze(showTable());
    }
</script>

<body style="background-color:teal ;">
    <h1>Update Details</h1>
    <div id="search" style="text-align: center; background-color: aqua;border-radius: 20vh; margin-left: 25% ;width: 50%;padding: 1%;">
        <form method="POST" action="searchDetails"><br><br><br>

        <label for="account" , required>Enter account Number :</label>
        <input type="text" , name="account" , id="account" placeholder="Enter the details."><br><br><br>

        <label for="phone" , required>Enter Phone Number :</label>
        <input type="text" , name="phone" , id="phone" placeholder="Enter the details."><br><br><br>

        <input type="reset" value="Reset" onclick="resetForm()"> <input type="submit" value="submit" onclick="showTable()" ><br><br>
    </div>
        
            
        {% csrf_token %}

    </form>
    {% if isPresent %}
    <form>
        <label for="accounNumber">Account Number: </label>
        <input type="text", name="accounNumber" pattern="[0-9]{14}" disabled value="{{userData.accountNumber}}" required><br><br>

        <label for="firstName">First Name: </label>
        <input type="text", name="firstName" pattern="[A-Za-z]{2,56}" disabled value="{{userData.firstName}}" required><br><br>
        
        <label for="middleName">Middle Name: </label>
        <input type="text", name="middleName" pattern="[A-Za-z]{2,56}" disabled value="{{userData.middleName}}" required><br><br>

        <label for="lastName">Last Name: </label>
        <input type="text", name="lastName" pattern="[A-Za-z]{2,56}" disabled value="{{userData.lastName}}" required><br><br>

        <label for="panNumber">pan Number: </label>
        <input type="text", name="panNumber" pattern="[A-Za-z0-9]{10}" disabled value="{{userData.panNumber}}" required><br><br>

        <label for="aadhaarNumber">Aadhaar Number: </label>
        <input type="text", name="aadhaarNumber" pattern="[0-9]{12}" disabled value="{{userData.aadhaarNumber}}" required><br><br>

        <label for="dateOfBirth">Date Of Birth: </label>
        <input type="text", name="dateOfBirth" pattern="[A-Za-z]{2,56}" disabled value="{{userData.dateOfBirth}}" required><br><br>

        <label for="phoneNumber">Phone Number: </label>
        <input type="text", name="phoneNumber" pattern="[\+]{0,1}[0-9]{9,12}" value="{{userData.phoneNumber}}" required><br><br>

        <label for="alternatePhoneNumber">Alternate Phone Number: </label>
        <input type="text", name="alternatePhoneNumber" pattern="[\+]{0,1}[0-9]{9,12}" value="{{userData.alternatePhoneNumber}}" required><br><br>

        <label for="address">Address: </label>
        <input type="text", name="address" maxlength="200" value="{{userData.address}}" required><br><br>

        <label for="zipCode">Zip Code: </label>
        <input type="text", name="zipCode" pattern="[0-9]{5,10}" value="{{userData.zipCode}}" required><br><br>

        <label for="email">Email: </label>
        <input type="email", name="email" maxlength="128" value="{{userData.email}}" required><br><br>



        <input type="reset" value="Reset Form" onclick="resetForm()"> 
        <input type="submit" value="submit"><br><br>
        {% csrf_token %}    
    </form>
    {% endif %}

</body>

</html>