<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | Bank</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name Prefix</td>
                <td>User Name</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Username</td>
                <td>Email Id</td>
                <td>Phone Number</td>
                <td>Alt. Phone Number</td>
                <td>Address</td>
                <td>Mother Name</td>
                <td>Father Name</td>
                <td>Zip Code</td>
                <td>Date of Birth</td>
                <td> PAN Number</td>
                <td>Aadhaar Number</td>
                <td>Occupation</td>
                <td>Relation</td>
                <td>Account Type</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.namePrefix}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.middleName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.alternatePhoneNumber}}</td>
                <td>{{user.address}}</td>
                <td>{{user.motherName}}</td>
                <td>{{user.fatherName}}</td>
                <td>{{user.zipCode}}</td>
                <td>{{user.dateOfBirth}}</td>
                <td>{{user.panNumber}}</td>
                <td>{{user.aadhaarNumber}}</td>
                <td>{{user.occupation}}</td>
                <td>{{user.relation}}</td>
                <td>{{user.relation}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>